* {
    transition: 0.5s;
    animation-timing-function: ease-in-out;
    background: rgba(0,0,0,0);
    color: #FFF;
    font-family: "DejaVu Sans Mono", monospace;
}

:root {
    background: #000;
}

body {
    margin: auto;
    /*padding: 0 16px;*/
    /*max-width: 800px;*/
}

@media (min-width: 768px) {
    body {
        max-width: 512px;
    }
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
    color: #FFF;
    border: 1px white solid;
    border-radius: 8px;
    width: -moz-available;
}

button:active {
    background: #333;
}

.button {
    height: 36px;
    width: 36px;
    align-content: center;
}

.border {
    border: 1px white solid;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
}

.just-border {
    border: 1px white solid;
    border-radius: 8px;
}

.wrapper {
    width: fit-content;
}

input[type=text] {
    border: 1px white solid;
    border-radius: 8px;
    width: -moz-available;
    height: 36px;
    margin-top: 16px;
}

/*table, th, td {*/
/*    border: 1px solid;*/
/*    border-radius: 8px;*/
/*    padding: 8px;*/
/*}*/

table tr :only-child {
    height: 36px;
    margin: 8px;
}

svg {
    margin: auto;
    background: none;
    display: block;
    width: 24px;
    height: 24px;
}

svg path, svg circle {
    fill: #FFF;
}

#main_div {
    margin: 20px;
    /*min-width: 512px;*/
}

#top_bar {
    position: sticky;
    top: 0;
    background: none;
    height: 16px;
}

.top_icon {
    margin: 16px;
}

#connection {
    display: none;
}

#connection path {
    fill: red;
}

#loading {
    display: none;
}

#top_buttons {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-gap: 16px;
}

.infoline {
    height: 22px;
    display: table-cell;
    vertical-align: middle;
}

#info1 {
    font-weight: bold;
}

.line_spacer {
    margin: 8px 0;
}

#controls {
    width: 298px;
}

#volume {
    text-align: center;
    vertical-align: middle;
}

#control-bar > div {
    display: inline-block;
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
    grid-gap: 16px;
}

.grid-item {
    text-align: center;
    place-items: center;
    display: grid;
    width: 36px;
}

#show_more_btn_icon {
    transition: 0.5s;
    transform: rotateX(180deg);
}

#more_buttons {
    display: none;
}

#youtube_url {
    border-radius: 8px;
    display: block;
}

#youtube_search_results_table {
    display: block;
    border: 1px white solid;
    border-radius: 8px;
    padding: 16px;
    background: rgba(0,0,0,0);
    border-collapse: collapse;
}

#youtube_search_results_table tr,
#youtube_search_results_table td{
    background: rgba(0,0,0,0);
}

#youtube_search_results_table tr {
    display: block;
}

#youtube_search_results_table tr:not(:first-of-type) {
    margin-top: 16px;
}

#youtube_search_results_table > tbody {
    background: rgba(0,0,0,0);
}

.yt_result {
    border: 1px white solid;
    border-radius: 8px;
    background: rgba(0,0,0,0);
    transition: 0.2s !important;
}

.yt_result:hover {
    background: #444 !important;
}

.yt_result:active {
    background: #888 !important;
}

/* Equalizer */

#equalizer_page {
    display: none;
}

#equalizer_sliders {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-gap: 16px 8px;
}

.equal_slider {
    display: inline-grid;
    width: 60px;
}

.slider_label {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.slider_value {
    text-align: center;
    grid-column: 1;
    grid-row: 3;
}

#equalizer_buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 16px;
}

/* Equalizer end */

/* Config page */

#config_page {
    display: none;
}

#config {
    border-radius: 8px;
    width: fit-content;
}

#config_buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 16px;
}

/* Config end */


/* playlist */

#playlist_page {
    display: none;
}

#playlist_add_station {
    display: none;
}

#playlist_edit_mode {
    display: none;
    vertical-align: top;
}

.track_move_down, .track_move_up, .track_rename, .track_show_url {
    display: none;
}

#stream_add, #rss_add {
    float: right;
    position: relative;
    top: -18px;
}

/* rss */

#rss_page {
    display: none;
}

#rss_edit_mode {
    display: none;
    vertical-align: top;
}

#rss_add_link {
    display: none;
}

#rss_links li {
    margin: 8px;
    list-style: none;
}

.rss_link_broken {
    color: #ff1111;
}

.track_play, .remove_rss_links {
    overflow: hidden;
    text-overflow: ellipsis;
}

.track_move_up,
.track_move_down,
.track_rename,
/*.track_show_url,*/
.rss_move_up,
.rss_move_down {
    visibility: hidden;
    position: relative;
    width: 36px;
    height: 36px;
    font-size: 0;
}

.track_move_up:after,
.track_move_down:after,
.track_rename:after,
/*.track_show_url:after,*/
.rss_move_up:after,
.rss_move_down:after {
    border: 1px solid #FFF;
    border-radius: 8px;
    visibility: visible;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 34px;
    display: block;
    /* this is so bad */
    height: 29px;
    padding-top: 5px;
}

.track_move_up:after, .rss_move_up:after {
    content: url('data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 height="24" width="24" viewBox=%220 0 24 24%22><path fill=%22white%22 d=%22M13 19V7.83l4.88 4.88c.39.39 1.03.39 1.42 0 .39-.39.39-1.02 0-1.41l-6.59-6.59c-.39-.39-1.02-.39-1.41 0l-6.6 6.58c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L11 7.83V19c0 .55.45 1 1 1s1-.45 1-1z%22/></svg>');
}

.track_move_down:after, .rss_move_down:after {
    content: url('data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 height="24" width="24" viewBox=%220 0 24 24%22><path fill=%22white%22 d=%22M11 5v11.17l-4.88-4.88c-.39-.39-1.03-.39-1.42 0-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0l6.59-6.59c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0L13 16.17V5c0-.55-.45-1-1-1s-1 .45-1 1z%22/></svg>');
}

.track_rename:after {
    content: url('data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 height="24" width="24" viewBox=%220 0 24 24%22><path fill=%22white%22 d=%22M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z%22/></svg>');
}

.track_show_url a {
    content: url('data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 height="24" width="24" viewBox=%220 0 24 24%22><path fill=%22white%22 d=%22M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z%22/></svg>');
}

.track_show_url {
    height: 36px;
    width: 36px;
}

.track_show_url :only-child {
    margin: 0;
    height: 24px;
    width: 24px;
}

.track_show_url a {
    position: relative;
    top: 1px;
}

/* playlist/rss end */

/* grids */

.grid2 {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 16px;
}

.grid3 {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 16px;
}

/* sliders */
.slider {
    grid-column: 1;
    grid-row: 2;
    -webkit-appearance: slider-vertical;
    cursor: pointer;
    height: 112px;
    width: 56px;
    margin: auto;
}

.slider:focus {
    outline: none;
}

.slider::-moz-range-track, .slider::-webkit-slider-runnable-track {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    width: 8px;
    height: 96px;
    cursor: pointer;
    animation: 0.2s;
}

.slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
    border: 2px solid #FFFFFF;
    height: 16px;
    width: 24px;
    border-radius: 8px;
    background: #000000;
    cursor: pointer;
    /* webkit */
    -webkit-appearance: none;
    margin-top: -10px;
}

#volume_slider {
    display: none;
    cursor: pointer;
    margin: auto;
    padding-top: 16px;
    width: -moz-available;
}

#volume_slider:focus {
    outline: none;
}

#volume_slider::-moz-range-track, #volume_slider::-webkit-slider-runnable-track {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
}

#volume_slider::-moz-range-thumb, #volume_slider::-webkit-slider-thumb {
    border: 2px solid #FFFFFF;
    height: 24px;
    width: 16px;
    border-radius: 8px;
    background: #000000;
    cursor: pointer;
    /* webkit */
    -webkit-appearance: none;
    margin-top: -10px;
}


/* animations */
@keyframes open {
    0% {
        transform: rotate(360deg);
        border-radius: 8px;
    }
    50% {
        border-radius: 36px;
    }
    100% {
        transform:rotate(180deg);
        border-radius: 8px;
    }
}

@keyframes close {
    0% {
        transform: rotate(180deg);
        border-radius: 8px;
    }
    50% {
        border-radius: 36px;
    }
    100% {
        transform:rotate(360deg);
        border-radius: 8px;
    }
}

/* temporary */
#play_youtube_btn,
#youtube_search_results_clear {
    margin: 16px;
}
